/* color vars */
:root {
    --yellow: #f0b00e;
    --md-yellow: #bb890a;
    --dk-yellow: #ffffff;
    --lt-yellow: #e4dfcc;
    --lt-lt-yellow: #eeebdf;
    --magenta: #bb0a65;
    --main-green: #8CC63F;
    --blue-title: #2E3192;
    --dark: #222;
}

/* apply google fonts to specific styles */
h5,
h6,
.h5,
.h6 {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

h5,
.h5 {
    color: var(--dark) !important;
    font-size: 1.2rem;
}

.h6,
h6 {
    font-size: 3rem;
}

h4,
.h4 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--dark);
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: -1.2px;
}

.display-5 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.display-6 {
    font-family: 'DM Mono', monospace;
    font-size: smaller;
}

.work-title {
    font-family: 'DM Mono', monospace;
    font-size: 0.5rem;
    line-height: 1;
    margin-top: 1rem;
}

.work-title2 {
    font-family: 'DM Mono', monospace;
    font-size: 0.5rem;
    line-height: 1;
    margin-top: 22px;
}

.work-title3 {
    font-family: 'DM Mono', monospace;
    font-size: 0.5rem;
    line-height: 1;
    margin-top: 24px;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #000000;
}

.black-text {
    color: #000000
}

a {
    color: #000000
}

.nav {
    justify-self: end
}

/* media query for smallest devices */

.icon-work {
    max-width: 25%;
    justify-content: center;
}

.img-fluid {
    max-width: 50%;

}

/* MEDIA QUERY EXAMPLE - MOBILE (XS) */
@media (min-width: 576px) {
    .icon-work {
        max-width: 25%;
        justify-content: center;
    }

    .img-fluid {
        max-width: 30%;

    }
}

/* styles for medium devices */
@media (min-width: 768px) {
    .icon-work {
        max-width: 100%;
    }

    .img-fluid {
        max-width: 120%;

    }

}

/* MEDIA QUERY EXAMPLE - LARGE AND UP */
@media (min-width: 992px) {
    .icon-work {
        max-width: 75%;
    }

    .img-fluid {
        max-width: 100%;

    }
}

.img-cover {
    background-size: cover;
    background-position: center;

}



.img-signature {
    max-width: 50%;

}

.img-skate {
    max-width: 100%;

}

.img-headless {
    max-width: 100%;

}


.title-orange {
    border-left: 4px solid #FFA552;
    padding-bottom: 1px;
    padding-left: 30px;
    height: 60px;

}

.bottom {
    position: relative;
    bottom: -650px;
}

/* COLORS */
.bg-dark {
    background-color: var(--dk-yellow) !important;
}

.light {
    background-color: var(--lt-yellow);
}

.lighter {
    background-color: var(--lt-lt-yellow);
}

.green {
    background-color: var(--main-green)
}

.grey {
    background-color: var(--dark)
}


/* MARGINS, PADDING */
.more-padding {
    padding: 2.5rem !important;
}

.more-padding-bold {
    padding: 5rem !important;
}

.no-padding {
    padding: 0 !important;
}

.padding-top {
    padding-top: 2rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.padding-bottom-super {
    padding-bottom: 20rem;
}

.padding-right {
    padding-right: 0.7rem !important;
}

.padding-left {
    padding-left: 1rem !important;
}

.padding-left2 {
    padding-left: 3rem;
}

.padding-left3 {
    padding-left: 16rem;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin: 0rem !important;
}

.margin-center {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.margin-center2 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.margin-top {
    margin-top: 1rem;

}

.margin-top2 {
    margin-top: 3rem;

}

.margin-top3 {
    margin-top: 1rem;

}

.margin-up {
    margin-top: -2rem;
}

.margin-title {
    margin-top: 5rem;
}

.show-bkgd {
    border: #cccccc;
    background-color: #dddddd;
}

.v-fill {
    height: 100%;
}

.justify-content-center {
    justify-content: center;
}

.img-status {
    position: relative;
    top: -75px;
}

.form-comment {
    padding: .50rem .5rem;
    border-radius: 20;
}

.row2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -97px;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

/* socmed */
.fa-facebook {
    /* background: #3B5998; */
    color: #000000;

}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    /* background: #bb0000; */
    color: #000000;
}

.fa-instagram {
    /* background: #125688; */
    color: #000000;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.5;
}

.fa,
.fas {
    font-weight: 900;
    font-size: 3rem;
}

/* scale-up */

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}